.btn-group-container {
    /* 변경 시 react buttonGroup의 상수도 변경해야함 */
    --btn-width : 75px;

    width: 80%;
    margin: 5px auto 20px auto;
    overflow-x: scroll;
}

.btn-group-container::-webkit-scrollbar {height: 4px; }
.btn-group-container::-webkit-scrollbar-thumb { background-color: #aaa; border-radius: 5px;}
.btn-group-container::-webkit-scrollbar-track {background-color: #ddd; border-radius: 5px;}

.btn-group {
    height: 35px;
    margin: 0 auto;
}

.btn-group button.b {
    width: var(--btn-width);
    color: #555;
    padding: 3px 0;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-group button.b:hover {
    text-decoration: underline;
    color: #000;
}

