.edit-step-1 {
    width: 100%;
}

.edit-step-1 h2 {font-size: 1.2em; padding-bottom: 20px; margin-bottom: 30px;}

.edit-step-1 .guideline-link {
    cursor: pointer;
}

.edit-step-1 .guideline-link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

