.edit-start {box-shadow: 3px 2px 4px #aaa; border-radius: 50%; padding: 5px;  background-color: #FF6E31; position: fixed; right: 5vw; bottom: 3vw; transform: scale(1.3); transition: all .8s }
.edit-start span { transform: translateY(8%); color: #FFEBB7;}
.edit-start:hover { transform: scale(1.5);}
.edit-start:hover a { color: #ff0363; }