/* 카드 뉴스를 볼 수 있는 게시글 페이지 */
.board {
    --cardnews-width : 375px;
    --cardnews-height: 375px;

    width: 100%;
}
.board .header { padding: 10px; }
.board .header .category { text-align: center;}
.board .header .category a { text-decoration: underline; text-underline-offset: 2px; font-size: 0.6em; font-weight: bold;}

.board .title { text-align: center; font-size: 1.6em;}
.board .date { text-align: center; margin-top: 15px;}
.board .date time { font-size: 0.7em; }

/* 카드 뉴스 페이지 */
.board .box { width: 100%; height: 500px; display: flex; justify-content: center; align-items: center; position: relative;}
.board .cardnews-container { 
    width: var(--cardnews-width);
    height: var(--cardnews-height);
    border: 1.5px solid #333;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.cardnews-display { clear: both; height: 100%; position: absolute; top: 0; left: 0; display: flex; transition: left 1s;}
.cardnews-display .cardnews { width: var(--cardnews-width); height: 100%; position: relative; overflow: hidden;}
.cardnews-display .cardnews img{ height: 100%; position: absolute; left: 50%; transform: translateX(-50%);}


/* 카드뉴스 페이지 컨트롤러 */
.board .box button.move { position: absolute; border: none; background: none; padding: 20px; cursor: pointer;}
.board .box button.back { top: 42.5%; left: 50%; transform: translateX(calc(-0.7 * var(--cardnews-width)));}
.board .box button.forward { top: 42.5%; right: 50%; transform: translateX(calc(0.7 * var(--cardnews-width))) rotate(180deg);}

/* 카드 뉴스 원문 */
.board .cardnews-original-text { width: 100%; }
.board .cardnews-original-text p { width: 70%; margin: 30px auto; font-size: 1em; line-height: 25px;}
.board .cardnews-source { width: 70%; margin: 30px auto 50px auto; }
/* 화면 [너비 <= 500px] */
@media screen and (max-width:500px) {
    .board .box button.move { display: none; }
}
