/* 펜 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/* 구글 마테리얼 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* 폰트 초기화 */
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}


/* 펜 폰트 */
.pen-font{
    font-family: 'Nanum Pen Script', cursive;
}

/* 레이아웃 */
.container {
    width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

.contents {
    padding-top: 80px;
    width: 100%;
    height:600px;
    clear: both;
}

.contents .login-banner {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.contents .login-banner .login-banner-desc {
    width: 100%;
    height: 30%;
}

.contents .login-banner .login-banner-desc p {
    font-size: 1.7em;
    line-height: 1.8em;
    margin-left: 35px;
}

/* 배너 이미지 */
.banner-images {
    width: 100%;
    position: relative;
}

.banner-images .login-banner-aco {
    width: 350px;
    height: 370px;
}

.banner-images .login-banner-aco-ask {
    width: 240px;
    position: absolute;
    top: 20%; left: 50%;
}

.contents .login-container {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.footer {
    width: 100%;
    height: 120px;
}

/* 헤더 스타일 */
.header .title {
    font-size: 3em;
    line-height: 80px;
    width: 30vw;
    padding-left: 50px;
}

/* 로그인 배너 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

.login { 
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	width:350px;
	height:300px;
}
.login h1 { 
    text-align:center;
    margin-bottom: 12px;

}

input { 
	width: 100%; 
	margin-bottom: 10px; 
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.login .login-links {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

/* 푸터 */

.footer .footer-links {
    width: 80vw;
    font-size: .7em;
    text-align: center;
    margin: 0 auto;
}

.footer .footer-logos {
    width: 90vw;
    margin: 8px auto 0 auto;
}

.footer .footer-logos img {
    width: 18px;
}

.footer .footer-info {
   width: 90vw;
   font-size: .7em;
   margin: 0 auto; 
}

.footer .footer-info .footer-info-version{
    text-align: right;
    padding-bottom: 8px;
}

/* 목록 페이지 레이아웃*/


/* 네비게이션 메뉴바 */
.header .nav-menu {
    list-style: none;
    display: flex;
}

.header .nav-menu > li {
}

.header .nav-menu > li a {
    display: block;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.header .nav-menu > li a:hover {
    background: rgba(0,0,0,.2);
}

/* 기능 메뉴바(프로필 포함) */
.header .func-menu {
    display: flex;
    list-style: none;
    position: absolute;
    top: 0; right: 0;
}

.header .func-menu > li a:hover {
    background: rgba(0,0,0,.2);
}

.header .func-menu > li a {
    display: block;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

/* 목록 콘텐츠 - 레이아웃 */
.list-contents {
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    display: flex;
}

.list-contents .list-nav-container {
    width: 30vw;
    height: 100%;
}

.list-contents .list-contents-container {
    width: 70vw;
    height: 100%;
}

/* 목록 콘텐츠 - 카테고리 메뉴 */
.list-nav-container h2 {
    font-size: 1.8em;
    padding-left: 35px;
    margin: 20px 0;
}

.list-nav-container p {
    padding-left: 35px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.icon-size {
    width: 26px; height: 26px;
}

.category {

}

.category li {
    line-height: 50px;
    height: 50px;
    padding-left: 50px;
}

.category li:hover {
    background-color: rgba(0,0,0,.1);
}

.category li:hover > a {
    color: #000;
}

.category li > a {
    font-size: 32px;
    font-weight:700;
    color: #aaa;
}

.category li > a > img {
    margin-right: 10px;
}

/* 목록 페이지 - 카드 목록 컨테이너 */
.list-contents-container {
    padding: 1vw;
}

/* 목록 페이지 - 뉴스 카드 생성 버튼 */
.news-create {
    cursor: pointer;
    width: 68vw;
    height: 13vh;
    box-shadow: 1px 1px 3px 1px #ddd;
    border-radius: 5px;
    display: flex;
}

.news-create .profile-img {
    width: 8.5vh;
    height: 8.5vh;
    margin: 2.25vh;
    border-radius: 50px;
    background-image: url('List/icon/profile.jpg');
    background-size: cover;
}

.news-create .desc {
    line-height: 13vh;
    color: #888;
    padding-left: 40px;
    font-size: 1em;
}

/* 목록 페이지 뉴스 카드 리스트 */
.news-list {
    background-color: #eee;
    list-style: none;
    width: 68vw;
    margin-top: 2vh;
    height: 69vh;
    overflow: scroll;
}

.news-list::-webkit-scrollbar {
    overflow: hidden;
}

.news-item {
    
}

.news-item .profile-container {

}

.news-item .news-title {}
.news-item .news-desc {}
.news-item .news-sharing {}
.news-item .news-apis {}


/* 메인 페이지 레이아웃 */
.main-banner {
    width: 90vw;
    padding-top: 80px;
    margin: 0 5vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 메인 배너 이미지 */
.main-banner .main-banner-img {
    width: 60vh ; height: 60vh;
    background-image: url("Login/하트들고있는아코_\(designed\ by\ 박세리\,원혜림\).png");
    background-size: cover;
}

/* 메인 배너 로그인 폼 */
.main-banner .main-banner-login {
    width: 75vh; height: 60vh;
}

.main-banner-login .banner-title {
    margin: 30px 0;
    font-size: 2em;
}

.main-banner-login .banner-desc {
    font-size: 0.9em;
    line-height: 25px;
    padding-left: 5px;
}

.main-banner-login form {
    margin-top: 50px;
    position: relative;
}

.main-banner-login form .email-in {
    width: 25vw;
}

.main-banner-login form .password-in {
    width: 25vw;
}

.main-banner-login form button[type="submit"]{
    width: 200px; height: 200px;
    background-image: url('Login/기본형아코얼굴_\(designed\ by\ 박세리\,원혜림\).png');
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-size: cover;
    position: absolute;
    top: -60px; right: -70px;
    cursor: pointer;
}

.main-banner-login form button[type="submit"] .button-title {
    font-size: 2.3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 150%);
}

/* 그리드 게시글 */
.board {
    width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    border: 1px solid black;
}

.board .item {
    width: 200px; height: 250px;
    border: 1px solid black;
    
}

.board .item .item-banner {
    width: 200px; height: 200px;
    border-bottom: 1.5px solid black;
    overflow: hidden;
    position: relative;
}

.board .item .item-banner img {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.board .item .item-info {
    position: relative;
    width: 200px; height: 50px;
}

.board .item .item-info .item-title {
    font-size: 0.7em;
    font-weight: bold;
    padding: 9px ;
}

.board .item .item-info .item-date {
    font-size: 0.5em;
    position: absolute;
    bottom: 8px; left: 12px;
}
.board .item .item-info .item-cartegory {
    position: absolute;
    font-size: 0.5em;
    bottom: 8px; right: 12px;
}